{% extends "main.html" %} 
<html class="no-js"> <!--<![endif]-->
{% block content %}
        <div class="content-area error-page" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <h2 class="error-title">404</h2>
                        <p>Sayfa Bulunamadı</p>
                        <p>Üzgünüz, istekte bulunduğunuz sayfa taşınmış ya da silinmiş olabilir.</p>
                        <a href="{{ url_for('home_page') }}" class="btn btn-default">Anasayfa</a>                        
                    </div>
                </div> 
            </div>
        </div> 
{% endblock%}
</html>