<!DOCTYPE html>
<html>
  <head>
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OĞUZLAR GAYRİMENKUL</title>
        <meta name="description" content="Oğuzlar Gayrimenkul Ve Danışmanlık Hizmetleri Yenikent Sincan Ankara">
        <meta name="author" content="Emrah Oğuz">
        <meta name="keyword" content="html5, css, bootstrap, ilan, emlak, ankara, sincan, yenikent, daire, arsa, satılık, kiralık, bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    
        <!-- Place favicon.ico  the root directory -->
        <link rel="shortcut icon" href="static/img/site/logo.png" type="image/x-icon">
        <link rel="icon" href="static/img/site/logo.png" type="image/x-icon">

        <link rel="stylesheet" href="
https://cdn.rawgit.com/creativetimofficial/material-dashboard/31144b3f/assets/css/material-dashboard.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper.min.js">
        <link rel="script" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js">
        <link rel="script" href="https://cdn.rawgit.com/creativetimofficial/material-dashboard/31144b3f/assets/js/plugins/perfect-scrollbar.jquery.min.js">
        <link rel="script" href="https://cdn.rawgit.com/creativetimofficial/material-dashboard/31144b3f/assets/js/plugins/chartist.min.js">
        <link rel="script" href="https://cdn.rawgit.com/creativetimofficial/material-dashboard/31144b3f/assets/js/plugins/bootstrap-notify.js">
        <link rel="script" href="https://cdn.rawgit.com/creativetimofficial/material-dashboard/31144b3f/assets/js/material-dashboard.js">

        </head>
  </head>
  <body>


    {% block content %}{% endblock %}

  </body>
</html>
https://cdn.rawgit.com/creativetimofficial/material-dashboard/31144b3f/assets/css/material-dashboard.css